<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabilsfy &mdash; Framework</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>

<body>
    <nav class="bg-white shadow">
        <div class="container sticky mx-auto flex items-center h-20">
            <h2 class="text-2xl font-semibold uppercase">Sabilsfy</h2>
        </div>
    </nav>